/* 

MIN-WIDTH: 

X-Small devices (portrait phones, less than 576px)
No media query for `xs` since this is the default in Bootstrap

Small devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }

XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) { ... }


MAX-WIDTH: 

X-Small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) { ... }

Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) { ... }

Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) { ... }

Large devices (desktops, less than 1200px)
@media (max-width: 1199.98px) { ... }

X-Large devices (large desktops, less than 1400px)
@media (max-width: 1399.98px) { ... }

XX-Large devices (larger desktops)
No media query since the xxl breakpoint has no upper bound on its width

*/

/* Google Font */
@import url('https://fonts.googleapis.com/css2?family=Acme&family=Lobster&family=Patua+One&family=Rubik:wght@300&family=Sniglet&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 100%;
    border: none;
    outline: none;
    font-weight: 300;
    font-size: 16px;
}

a {
    text-decoration: none;
    cursor: pointer;
}

ul {
    list-style: none;
}

header,
section {
    overflow-x: hidden;
    /* hide all the left/right space for it */
}

/* ======== VARIABLES ========== */
:root {
    --Snigle-font: "Sniglet", cursive;
    /* creating variable */
    --Rubik: "Rubik", cursive;
    --Patua: "Patua One", cursive;
    --Lobster: "Lobster", cursive;
    --light-black: #2e2c2caf;
    --bggradient: linear-gradient(to bottom, #dd2476, #ff512f);
    --light-gray: rgba(255, 255, 255, 0.5)
}

/* ======== HEADER ============ */
.header {
    font-family: var(--Lobster);
    /* call the variable in html */
}

header {
    background: #dd2476;
    background: var(--bggradient);
}

header a {
    font-family: var(--Snigle-font);
    font-size: 0.9;
    color: whitesmoke;
}

/* ============ dropdown only desktop view ============ */
@media all and (min-width: 992px) {
    .navbar .nav-item .dropdown-menu {
        display: block;
        opacity: 0;
        visibility: hidden;
        transition: .3s;
        margin-top: 0;
    }

    .dropdown-toggle::after {
        margin-left: 8px;
    }

    .navbar .nav-item:hover .nav-link {
        color: black;
        transition: all .5s;
    }

    .navbar .dropdown-menu.fade-down {
        top: 80%;
        transform: rotateX(-75deg);
        transform-origin: 0% 0%;
    }

    .navbar .dropdown-menu.fade-up {
        top: 180%;
    }

    .navbar .nav-item:hover .dropdown-menu {
        transition: .3s;
        opacity: 1;
        visibility: visible;
        top: 100%;
        transform: rotateX(0deg);
    }
}

/* ============ desktop view .end// ============ */

.dropdown:hover .dropdown-content {
    display: block;
    transition: all .5s;
}

header .nav-item:last-child {
    padding-right: 7em;
    /* relative units: em, rem, vmin */
}

header .nav-item {
    padding: 0.9em;
    font-size: 1.1em;
}

header .navbar-brand {
    padding-left: 7em;
    transition: all .5s;
}

header .navbar .navbar-brand:hover {
    color: black;
    transition: all .5s;
}

header .nav-link {
    transition: all .5s;
    text-transform: uppercase;
}

header .nav-link:hover {
    color: black;
    transition: all .5s;
}

.active {
    color: black;
    transition: all .5s;
}

header .nav-link {
    text-transform: uppercase;
}

header .row .col-md-5 {
    padding: 4.2vmin 1vmin;
}

header .row .col-md-7 {
    padding: 22vmin 1vmin;
    padding-bottom: 35vmin;
    font-family: var(--Rubik);
    color: white;
}

header .row .col-md-5 img {
    width: 90%;
}

header .container .col-md-7 h6 {
    padding: 1vmin;
    letter-spacing: 4px;
}

header .container .col-md-7 h1 {
    font-size: 8vmin;
    font-weight: bold;
    padding: 0.1em 0em;
}

header .container .col-md-7 p {
    padding: 1vmin 5vmin;
}

header .container .col-md-7 button {
    border-radius: 30px;
    font-weight: bold;
}

/* ====  SECTION 1 ====== */
.section-1 {
    padding: 20vmin 0;
}

.section-1 .row .col-md-6 .pray img {
    opacity: 0.8;
    width: 80%;
    border-radius: 0.2em;
}

.section-1 .row .col-md-6:last-child {
    position: relative;
}

.section-1 .row .col-md-6 .panel {
    position: absolute;
    top: 7vmin;
    left: -18vmin;
    background: white;
    border-radius: 3px;
    text-align: left;
    padding: 13vmin 5vmin 20vmin 10vmin;
    box-shadow: 0 25px 42px rgba(0, 0, 0, 0.2);
    font-family: var(--Rubik);
    z-index: 1;
}

.section-1 .row .col-md-6 .panel h1 {
    font-weight: bold;
    padding: 0.4em 0;
    font-size: 2em;
}

.section-1 .row .col-md-6 .panel p {
    font-size: 0.9em;
    color: rgba(0, 0, 0, 0.5);
}

/* ====  SECTION 2 ====== */
.cover {
    width: 100%;
    height: 55vmin;
    background: url(../assets/pexels-photo-452738.jpeg);
    background-position: -24rem -19rem;
    background-size: 150%;
    position: relative;
}

.cover .content {
    background: rgba(0, 0, 0, 0.7);
    height: 100%;
    padding-top: 19vmin;
    width: 100%;
}

.cover .content>h1 {
    font-family: var(--Patua);
    font-size: 6vmin;
    color: whitesmoke;
}

.cover .content>p {
    font-family: var(--Rubik);
    color: #e5e5e5;
    font-size: 2vmin;
}

.numbers .rect {
    position: relative;
    z-index: 1;
    background-color: white;
    width: 17rem;
    height: 12rem;
    padding-top: 3.5vmin;
    margin: 1rem;
    border-radius: .5em;
    box-shadow: 1px 2px 50px 0px rgba(255, 0, 0, 0.349);
}

.numbers {
    margin-top: -15vmin;
}

.numbers .rect h1 {
    font-size: 5rem;
    color: tomato;
}

.numbers .rect p {
    font-family: var(--Patua);
}

.purchase>h1 {
    padding-top: 15vmin;
    padding-bottom: 0.1em;
    font-family: var(--Lobster);
}

.purchase>p {
    color: var(--light-black);
    font-size: 3vmin;
    padding-bottom: 10vmin;
}

.purchase .cards .card {
    width: 22rem;
    margin: 3vmin;
}

.cards div {
    padding: 0;
    margin: 0;
}

.cards .title {
    background: rgba(208, 241, 241, 0.1);
    padding: 1.4rem 2.5rem;
    font-size: 2vmin;
}

.card .card-text {
    padding: 2.5rem 3rem;
    color: var(--light-black);
}

.card-body .pricing {
    background: rgba(208, 241, 241, 0.1);
    border-top-right-radius: 170px;
}

.card-body .pricing>h1 {
    font-size: 10vmin;
    padding: 1em 0.5rem;
}

/* ==== SECTION 3 ==== */
.section-3 {
    height: 70vmin;
    margin-top: 15vmin;
    background: var(--bggradient);
}

.section-3 .col-md-12>h1 {
    padding: 2em 0 0.5em 0;
    color: whitesmoke;
    font-size: 6vmin;
}

.section-3 .col-md-12>p {
    padding: 0 4em;
    padding-bottom: 2em;
    color: var(--light-gray);
    font-size: 3vmin;
}

.section-3 .desktop {
    background: white;
    display: inline-block;
    border-radius: 3em;
    padding: 2vmin 4.5vmin;
    margin: 1em;
}

.section-3 .desktop h3 {
    font-size: 4vmin;
}

.section-3 .desktop p {
    font-size: 2vmin;
}

/* ==== SECTION 4 ===== */
.section-4 .container h1 {
    font-size: 6vmin;
    padding-top: 14vmin;
}

.section-4 .team {
    padding: 10vmin 4vmin;
}

.section-4 .card {
    width: 22rem;
    margin-top: 10vmin;
}

.section-4 .card .card-text {
    padding: 0.5em;
}

.section-4 .card .card-body>a {
    font-size: 1.5em;
}

.section-4 .carousel-item {
    padding-left: 3rem;
}

.border-radius {
    border-radius: 340px;
    width: 60%;
}

/* ==== Footer ==== */
footer {
    background: rgba(0, 0, 0, 0.815);
    overflow-x: hidden;
    padding: 14vmin 18vmin;
}

footer p>span {
    color: #ff512f;
}

footer input {
    border: none !important;
}

footer input::placeholder {
    color: white !important;
}

footer .input-group .input-group-text {
    background: var(--bggradient);
    border: none;
}

footer .column i {
    color: #dd2476;
}

footer .column i+i {
    padding: 0 0.5em;
}

/* Sticky */
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.815);
    z-index: 99999;
    transition: all 1.5s ease-in-out;
}

/* ========= BREAKPOINTS ========== */

@media only screen and (max-width: 992px) {
    .navbar {
        padding: 1rem 2rem;
        font-size: 4rem;
    }

    header .navbar-brand {
        padding-left: 0px !important;
        font-size: 0.4em;
    }

    header .navbar-brand a i {
        font-size: 0.4em;
    }
}
@media only screen and (min-width : 992px) and (max-width : 1440px) {
    header .nav-item:last-child {
        padding-right: 2em;
    }
    header .navbar-brand {
        padding-left: 2em;
        transition: all .5s;
    }
}

@media only screen and (max-width: 768px) {

    .section-1 .row .col-md-6 {
        position: initial;
        width: initial;
        height: initial;
    }

    .section-2 .cover {
        background-position: -25vmin -10vmin;

    }

    .numbers .rect {
        width: 10rem;
        height: 8rem;
    }

    .numbers .rect h1 {
        font-size: 2rem;
    }

    .section-3 {
        height: inherit;
        padding: 10vmin !important;
    }

    .section-3 .row h1 {
        padding: 6vmin 4vmin;
    }

    .section-3 .row .col-md-6 {
        text-align: center !important;
    }

    .section-3 .desktop i {
        font-size: 8vmin;
    }

    .section-4 .carousel-item {
        padding-left: 0.6rem;
    }

    .section-4 .team {
        display: flex;
        flex-direction: column;
        align-content: center;
    }

    .section-4 .carousel-inner {
        width: 24rem;
    }
}

@media only screen and (max-width: 425px) {
    footer .row .col-md-2 {
        margin-top: 8vmin;
    }
}

@media only screen and (max-width: 320px) {
    header .navbar-brand {
        padding-left: 0 !important;
    }

    .section-4 .card {
        width: 18rem;

    }

    .section-4 .carousel-inner {
        text-align: center;
        margin-left: -14vmin;

    }
}